{% extends 'base.html' %}

{% block content %}
<section class="mt-5 text-light text-center">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="bg-dark bg-opacity-75 rounded shadow-lg p-5">
                <h1 class="col text-center">About Our API</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-dark text-info text-center mt-5" style="border: 3px solid darkgray">
    <div class="container p-5">
        <div class="row" style="height: 200px">
            <div class="d-flex align-items-center justify-content-center">
                <p class="col text center">Welcome to the 5th Edition Dungeon and Dragons Character API - the gateway to storing your characters</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}